:root {
  --color-primary: #D84600;
  --color-secondary: #D84600;
  --color-accent: #526A68;
  --color-dark: #24232B;
  --color-light: #FBFBFB;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  color: var(--color-dark);
  margin: 0;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
  font-family: 'IM Fell English SC', serif;
  font-family: 'uglyquaregular';
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: .7em;
}

h2 {
  font-size: 25px;
  line-height: 19px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.15em;
  line-height: 1em;
}

p {
  margin: 0;
  padding: .7em 0;
  font-family: 'aaarghnormal';
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'aaarghnormal';
}

/*   Logo & Nav      */
header {
  text-align: center;
  position: absolute;
  z-index: 999;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 60px;
  height: 60px;
  margin: 1em;
  margin-left: 3em;
}

header ul {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 0;
  list-style: none;
}

header ul li {
  position: relative;
  line-height: 21px;
  text-align: right;
}

header ul li a {
  display: block;
  padding: 8px 25px;
  color: var(--color-dark);
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}

header ul li a:hover {
  color: var(--color-light);
  background: var(--color-primary);
  border-radius: 5px 5px 5px 5px;
}

header ul li ul.dropdown {
  min-width: 100%;
  /* Set width of the dropdown */
  display: none;
  position: absolute;
  z-index: 999;
  right: 0%;
  background: #FCFCFC;
  border-radius: 5px 5px 5px 5px;
}

header ul li:hover ul.dropdown {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* Display the dropdown */
}

header ul li ul.dropdown li {
  display: block;
  width: 100%;
}

header ul li ul li a {
  display: block;
  padding: .5em 1em;
  text-align: left;
  text-transform: capitalize;
}

.DropDownIcon:after {
  content: "▼";
  position: absolute;
  right: 11px;
  top: .4em;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: auto;
  pointer-events: none;
}

@media (min-width: 500px) {
  header ul li ul.dropdown {
    //background: rgba(255, 255, 255, 0);
    //border: 1px solid gray;
  }
}

/*   Hero Banner & Call to Action */
#banner {
  padding: 0 1.5em;
  min-height: 90vh;
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 calc(100% - 10vw));
  margin-bottom: -15vh;
}

#banner .bg-image {
  height: 90vh;
  position: absolute;
  background: #000 url('https://images.pexels.com/photos/278918/pexels-photo-278918.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

#banner h1 {}

.btn {
  font-family: 'Julius Sans One', sans-serif;
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-light);
  font-weight: 900;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 15px;
  transition: all .2s ease-in-out;
  z-index: 12;
  position: relative;
  top: -15vh;
}

.btn:hover {
  transform: scale(1.15);
  transform: rotate(.01turn);
  box-shadow: 0 14px 8px rgba(0, 0, 0, 0.4), -2px -6px 20px 0 rgba(0, 0, 0, 0.19);
}

#banner .content-wrap,
#section-a .content-wrap {}

#main {
  background: #FFF;
  z-index: 1;
  opacity: 1;
}

/*  Section A  */
#section-a {
  background: #FFF;
  color: var(--color-dark);
  padding: 0 1.5em;
  padding-top: 125px;
  padding-bottom: 150px;
  z-index: 1;
}

/*  Section B  */
#section-b {
  padding: 1em;
  text-decoration: none;
  display: flex;
  overflow-y: visible;
  clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 calc(100% - 10vw));
  justify-content: center;
  background: var(--color-light);
  padding-bottom: 150px;
}

#section-b li:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 1em;
  margin-top: -1em;
}

#section-b .card {
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), -2px -6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out;
  border-radius: 15px;
  max-width: 350px;
  margin-top: 60px;
  z-index: 999;
}

#section-b img {
  border-radius: 15px 15px 0 0;
}

#section-b .card:hover {
  transform: scale(1.15);
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

#section-b li {
  margin: 1em;
  color: var(--color-dark);
}

.card-content {
  padding: 1.5em .8em;
  background: white;
  color: var(--color-dark);
  border-radius: 0 0 15px 15px;
  font-size: .9em;
}

#section-b .card-title {
  margin-bottom: 5px;
  font-size: 1.4em;
}

.card-description {
  color: var(--color-primary);
  padding: .1em;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.card-content p {
  line-height: 1.2em;
}

/*  Section C & D */
#section-c {
  color: var(--color-dark);
  padding: 2em;
  display: none;
}

#section-d .box {
  padding: 100px 50px;
  color: var(--color-dark);
  background: #FFF;
  clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);
  overflow: hidden;
}

#section-d .box:last-child {
  background: #bbb;
  //color: var(--color-light);
  padding-top: 10em;
}

#section-d a {
  color: var(--color-primary);
}

/*  Footer  */
#footer {
  padding: 2em;
  background: var(--color-dark);
  color: var(--color-light);
}

#footer a {
  color: white;
  text-decoration: none;
}

/*  Media   */
@media (min-width: 900px) {
  h1 {
    font-size: 70px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  #section-b {
    display: block;
    padding: 2em;
    overflow-y: visible;
    padding-top: 170px;
    padding-bottom: 220px;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
    margin: 0px;
  }

  #section-b .card {
    margin-bottom: 0px;
    max-width: 750px;
  }

  #section-d:last-child {}

  .box,
  #footer div {
    grid-column: span 4;
  }
}
